<div class="mat-title">Buttons</div>
<div>
<button mat-button>Hello World</button>
<button mat-raised-button>Hello World</button>
<button mat-stroked-button>Hello World</button>
<button mat-flat-button>Hello World</button>
</div>
<div>
<button mat-icon-button>Hello World</button>
<button mat-fab>Hello World</button>
<button mat-mini-fab>Hello World</button>
</div>
<mat-divider></mat-divider>
<div class="mat-title">Color Buttons</div>
<div>
  <button color="primary" mat-button disabled>Hello World</button>
  <button color="accent" mat-button>Hello World</button>
  <button color="warn" disableRipple mat-button>Hello World</button>
  <button color="primary"  mat-raised-button>Hello World</button>
  <button color="accent" mat-raised-button>Hello World</button>
  <button color="warn" mat-raised-button>Hello World</button>
</div>
<br>
<mat-divider></mat-divider>
<!--<div class="mat-display-4">mat-display-4</div>
<div class="mat-display-3">mat-display-3</div>
<div class="mat-display-2">mat-display-2</div>
<div class="mat-display-1">mat-display-1</div>
<div class="mat-headline">mat-headline</div>
<div class="mat-title">mat-title</div>
<div class="mat-subheading-2">mat-subheading-1</div>
<div class="mat-subheading-1">mat-subheading-1</div>
<div class="mat-body-1">mat-body-1</div>
<div class="mat-body-2">mat-body-1</div>
<div class="mat-caption">mat-caption</div>
<div class="mat-typography">
  <h1>mat-display-4</h1>
  <h2>mat-display-3</h2>
  <h3>mat-display-2</h3>
  <h4>mat-display-1</h4>
</div> 
<div class="mat-title">Color Buttons</div>-->
<br>
<div>
<mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
<mat-button-toggle value="Angular" disableRipple checked>Angular</mat-button-toggle>
<mat-button-toggle value="React" checked>React</mat-button-toggle>
<mat-button-toggle value="Vue" checked>Vue</mat-button-toggle>
</mat-button-toggle-group>
{{toggleGroup.value}}
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
  <mat-icon>logout</mat-icon>
</div>
